<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
        <!-- Post Title -->
        <mat-form-field>
            <!-- Use '?' in the binds for title and content to make sure angular checks 
            if the values exist. If they don't, populate the fields with nothing. -->
            <input 
                matInput 
                type="text"
                formControlName="title"
                placeholder="Post Title"
            >
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <!-- Image Upload -->
        <div>
            <button mat-stroked-button type="button" color="primary" (click)="filePicker.click()">Pick Image</button>
            <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <!-- Post Content -->
        <mat-form-field>
            <textarea 
                matInput 
                rows="6"
                formControlName="content"
                placeholder="Post Content" 
                >
            </textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter post content.</mat-error>
        </mat-form-field>
        <!-- Button for saving a post -->
        <button 
            mat-raised-button 
            type="submit"
            color="accent">
        Save Post</button>
    </form>
</mat-card>
